        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Courier New', Courier, monospace;
        }

        :root {
            --main-background: #030712;
            --text-color: #d1d5db;
            --nav-color: #334155;
        }

        body {
            background-color: #030712;
            color: #d1d5db;
            display: flex;
            flex-direction: column;
            min-height: 100svh;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }

        nav {
            background: #334155;
            width: fit-content;
            padding: 30px;
            border-radius: 15px;
        }

        ul, li {
            list-style: none;
        }