* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --main-background: #030712;
    --text-color: #d1d5db;
    --nav-color: #334155;
}

body {
    background-color: #030712;
    color: #d1d5db;
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

main {
    background: #334155;
    padding: 20px;
}

label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

 input {
    width: 100%;
    padding: 5px; 
    box-sizing: border-box; 
 }

 button {
    width: 100%; 
    padding: 5px; 
    background-color: #030712;
    color: #d1d5db;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
 }

form {
    margin-bottom: 16px;
}

button:hover {
    background-color: #d1d5db;
}